:root {
    /*? Main Box Colors*/
  --side-bar_background:rgb(42, 35, 32);

    /** Rest Colors*/
  --top_text_color:#ffff;

    /*TODO: Maßnahmenbeginn*/
  --side-bar_width:250px;

}

.side-bar {
  width: var(--side-bar_width);
  height: 100vh;
  background-color: var(--side-bar_background);
}

.nav {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: var(--side-bar_background);
}

/*Nav Inside ---------------------*/ 



