:root {
    /*? Main Box Colors*/
  --side-bar_background:rgb(0, 0, 0);
  --slider-nav_and_top_color:rgba(15, 14, 14, 0.244);

    /** Rest Colors*/
  --top_text_color:#1487a1;
  --top-navigation_h2_color:rgb(255, 255, 255);

    /*TODO: Maßnahmenbeginn*/
  --side-bar_width:250px;
  --top_height:5em;

}

.side-bar {
  width: var(--side-bar_width);
  height: 100vh;

}

.side-bar.active {
   
}

.nav {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: var(--side-bar_background);
}

.slider-nav {
  width: 5em;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
  .slider-nav > div {
    width: 100%;
    display: flex;
    background-color: var(--slider-nav_and_top_color);
    justify-content: center;
    align-items: center;
    height: var(--top_height);
    border-bottom: solid 2px rgba(255, 255, 255, 0.135);
    box-shadow: 0px -3px 3px 0px #236f9b;
    cursor: pointer;
    transition: background-color 0.2s ease;
  }

  .slider-nav > div:hover {
  
    background-color: white;
  }

  /* Icono =>*/

  .slider-nav > div > .menu-arrow {
    width: 2em;
  }

  .slider-nav > div:hover .menu-arrow {
    filter: invert(1);
  }

  /* Ul Img => 0 0 0 0*/

  .slider-ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1em;
    background-color: rgb(92, 38, 209);
    max-height: 60%;
  }

/*Nav Inside ---------------------*/ 

.top-navigation  {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color:  var(--slider-nav_and_top_color);
  height: var(--top_height);
  border-bottom: solid 2px rgba(255, 255, 255, 0.135);
}

/*Box contain only .top-icon %% -iot-text.
  his function is to contain them for use flex
*/

.top-navigation > .box {
  display: flex;
  align-items: end;
  gap:.25em;
}

.top-navigation > .box > .top-icon {
  width: 2em;
}

.top-navigation > .box > .iot-text {
  color: white;
  font-family: 'Times New Roman', Times, serif;
  opacity: .6;
  font-style: italic;
  user-select: none;
}


/*? --------------------------------*/



