/*TODO: Home Component */
/*TODO: -------------- */

@font-face {
  font-family: "LetraFacha";
  src: url("/src/assets/fonts/butterscotch/Butterscotch.otf"),
  url("/src/assets/fonts/butterscotch/Butterscotch.ttf");
}
  
  /*? <HOME PAGE/> */
  /*? ------------ */
  
  .contentHome {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 100%;
    gap: 1.5em;
  }
  
  .contentHome > .box { /** Four Boxes */
    margin: .5em;
    height: 8em;
    flex-basis: 15em;
    flex-grow:0;
    flex-shrink: 1;
    background-color: rgb(0, 0, 0);
    border-radius: 1em;
    /*? For Text Inside =>*/
    display: flex;
    justify-content: start;
    align-items: end;
  }

  .box > .text {
    font-size: 2em;
    color: rgb(255, 255, 255);
    opacity: .75;
    font-family: "LetraFacha";
    letter-spacing: 2px;
    user-select: none;
    margin:0 0 0.25em 7.5%;
    list-style-type: circle;
  }

  /** Style Test*/

  .contentHome > .box  {
    transition: transform 0.15s ease;
  }

  .contentHome > .box:hover {
    transform: scale(1.15) translateY(-15px);
  }


  
  